<div class="col-md-6 offset-md-3">
  <h3> Create Author </h3>
  <form>

    <div class="form-group">
      <label> First name</label>
      <input type="text" class ="form-control" id = "firstName"
             [(ngModel)] = "author.firstName" name = "firstName">
    </div>

    <div class="form-group">
      <label> Last name</label>
      <input type="text" class ="form-control" id = "lastName"
             [(ngModel)] = "author.lastName" name = "lastName">
    </div>

    <button class = "btn btn-success" type ="submit">Submit</button>

  </form>
</div>
