<!--suppress AngularUndefinedBinding -->
<h2> Book List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> First Name</th>
            <th> Last Name </th>
            <th> Email Id</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let book of books" >

            <td> {{ book["firstName"] }} </td>
            <td> {{ book["lastName"] }} </td>
            <td> {{ book["emailId"] }} </td>
            <td>
                <button (click) = "updateBook(book['id'])" class = "btn btn-info"> Update</button>
                <button (click) = "deleteBook(book['id'])" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "bookDetails(book['id'])" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
